{% extends 'Inven_app/Home.html' %}
{% load crispy_forms_tags %}


{% block title %}
<title> addProduct </title>
{% endblock %}


{% block content %}

<div class="signup-form">
        <h2 style="text-align: center; color: black;">Add Product </h2>
        <form method="post" class="jumbotron" >
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <div style="text-align: center;">
            <input type="submit" class="btn btn-success" >
            </div>
        </form>
    </div>
{% endblock %}